# =============== #
# Build generated #
# =============== #
build/
DerivedData/
atom-sdk/AtomSDk/docs/
Podfile.lock
Pods

# ================ #
# Various settings #
# ================ #
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# ============ #
# Other        #
# ============ #
*.moved-aside
*.xcuserstate

# ==================== #
# Obj-C/Swift specific #
# ==================== #
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# =========== #
# Playgrounds #
# =========== #
timeline.xctimeline
playground.xcworkspace

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db